.logo{
    padding-left: 10px;
    text-decoration: none;
    font-size: 45px;
    font-weight: 500;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: rgba(0, 0, 0, 0.911);
    border-bottom: 1px rgb(99, 99, 99) solid;
}

.sesion {
    padding: 4px;
    margin: 16px 25px 15px 25px;
    text-decoration: none;
    border: 2px rgb(255, 255, 255) solid;
    font-weight: 500;
    font-size: 20px;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    transition-duration: 0.1s;
}

.sesion:hover {
    border: 2px rgba(255, 255, 255, 0.5) solid;
    transition-duration: 0.1s;
    background-color: rgba(255, 255, 255, 0.11);
}

.Cat {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-position: 25%;
    width: auto;
    height: 400px;
    background-image: url(../Img/icat0.jpg);
    background-repeat: no-repeat, repeat;
    background-color: white;
    background-size: auto 400px;
}

.te {
    padding-left: 525px;
    font-size: 40px;
    font-weight: 700;
}

.abajo {
    display: flex;
    justify-content: space-evenly;
    border-top: 1px rgb(99, 99, 99) solid;
    background-color: #3e4451;
    padding-bottom: 25px;
}

.boton2 {
    background-color: #dc3535;
    border-radius: 15px;
    padding: 10px;
    margin-top: 25px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: x-large;
    border: #b32929;
    transition: all.1s;
}

.boton2:hover {
    background-color: rgb(177, 45, 58);
    transition: all.1s;
}

footer {
    border-top: 1px rgb(99, 99, 99) solid;
    background-color: rgb(29, 29, 29);
    padding: 25px;
    color: black;
}

.te-sub {
    text-decoration: underline;
}